<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block extra_css %}
    {% endblock %}
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript">
        window.myinfo = {};
    </script>
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
    <div class="row">
        <h1 class="text-left">42 Coffee Cups Test Assignment</h1>
    </div>
  {% block body %}
  {% endblock %}
    <ul class="breadcrumbs">
        {% block panel %}{% endblock %}
    </ul>
  </body>
</html>
