<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block extra_css %}
    {% endblock %}
    <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <script type="text/javascript">
        window.myinfo = {};
    </script>
    {% block extra_js %}
    {% endblock %}
  </head>
  <body>
  <h1 class="page-header">42 Coffee Cups Test Assignment</h1>
  {% block body %}
  {% endblock %}
    <div class="clr"></div>
    <div id="reqlog">
    <hr/>
        {% block panel %}{% endblock %}
    </div>
  </body>
</html>
