{% extends "base.html" %}

{% block head %}
  {% block title %}Login to edit information{% endblock %}
{% endblock %}
{% block body %}

  <div class="row panel">
    {% if form.errors %}
      <p class="error">Your login or password is incorrect</p>
    {% endif %}
     <h4 class="small-8 small-centered columns">Login page</h4>
    <form method="post" action=".">{% csrf_token %}
      <div class="large-8 columns large-centered">
        <label class="label" for="id_username">Username:</label>
        {{ form.username }}
      </div>
      <div class="large-8 columns large-centered">
        <label class="label" for="id_password">Password:</label>
        {{ form.password }}
      </div>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="{% url home %}" />
      {% endif %}
      <div class="small-8 columns small-centered">
        <input class="button success" type="submit" value="login" />
      </div>
    </form>
  </div>
{% endblock %}
