{% extends "base.html" %}

{% block head %}
  <title>Login to edit information</title>
{% endblock %}
{% block body %}
  <header>
    <h2>Login page</h2>
  </header>
  <section>
    {% if form.errors %}
      <p>Your login or password is incorrect</p>
    {% endif %}
    <form class="login" method="post" action=".">{% csrf_token %}
      <p>
        <label for="id_username">Username:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </p>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="{% url home %}" />
      {% endif %}
      <br/><input type="submit" value="login" />
    </form>
  </section>
{% endblock %}
