body {
    margin: 0px;
    padding:15px;
}

.my_info{
    float:left;
}

.left-side{
    float:left;
    padding-left:20px;
}

.right-side{
    float:left;
    padding-left:50px;
}

.multiline{
    width:400px;
    height:150px;
    overflow:auto;
}

.clr{
    clear:both;
}

#reqlog{
width:70%;
float:left;
padding-left:10px;
clear:both;
}

.controls{
    padding-left:10px;
    clear:both;
}

form.login {
    float:left;
}


.form_left{
    float:left;
}

.form_right{
    float:left;
}

.fieldWrapper{
    padding:5px;
}

.login{
    float:right;
    padding-right:500px;
    clear:both;
}

.contact-me{
    float:left;
    padding-left:50px;
    background-color:#FFFFE0;
    border: solid  #F0E68C 3px;
    margin:5px;
}
form p{
    float:right;
    clear:both;
    padding-right:10px;
}

.requests-table {
    width:95%;
    border-collapse: collapse;
}
.requests-table, .requests-table th, .requests-table td {
    border-collapse: collapse;
    text-align: left;
    padding: 1px;
}
.requests-table tr {
    height: 30px;
}
