body {
    margin: 5px;
    padding-bottom:100px;
    padding-left: 15px;
}

.my_info{
    float:left;
}

.left-side{
    float:left;
    padding-left:20px;
}

.right-side{
    float:left;
    padding-left:50px;
}

.multiline{
    width:400px;
    height:150px;
    overflow:auto;
}

.clr{
    clear:both;
}

#reqlog{
width:70%;
float:left;
padding-left:10px;
clear:both;
}

.controls{
    padding-left:10px;
    clear:both;
}

form.login {
    float:left;
}


.form_left{
    float:left;
}

.form_right{
    float:left;
    padding-left: 5%;
}

.fieldWrapper{
    padding:5px;
}

#idname, #idsurname, #idbirth_date, #idmy_photo{
float:right;
clear:both;
padding-right:40px;
}

#idemail, #idjabber, #idskype, #idother_cont, #idbio{
float:right;
clear:both;
}

textarea {
    float: right;
}

#img_prev{
float:left;
max-width:480px;
border: solid black 1px;
}

#my_photo_prev{
border: solid black 1px;
}

.login{
    float:right;
    padding-right:500px;
    clear:both;
}

.contact-me{
    float:left;
    padding-left:50px;
    background-color:#FFFFE0;
    border: solid  #F0E68C 3px;
    margin:5px;
}
form p{
    float:right;
    clear:both;
    padding-right:10px;
}

.requests-table {
    width:95%;
    border-collapse: collapse;
}
.requests-table, .requests-table th, .requests-table td {
    border-collapse: collapse;
    text-align: left;
    padding: 1px;
}
.requests-table tr {
    height: 30px;
}

#form_butts {
    float:left;
}

a.selected-sorting {
    text-shadow: 0 0 5px #194fb2;
}