{% extends "base.html" %}

{% block title %}Contacts Edit Page{% endblock %}

{% block extra_css %}
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" rel="Stylesheet" />
{% endblock %}

{% block extra_js %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_contacts_page.js"></script>
{% endblock %}

{% block body %}

<form id="editmyinfo" enctype="multipart/form-data" action="{% url edit_contacts %}" method="POST">
  <div class="row panel radius">
    {% csrf_token %}
    <div class="large-5 columns">
      <div id="name">
        <label>{{ form.first_name.label}}: {{ form.first_name }}</label>
      </div>
      <div id="surname">
        <label>{{ form.last_name.label }}: {{ form.last_name }}</label>
      </div>
      <div id="birth_date">
        <label>{{ form.birth_date.label }}: {{ form.birth_date }}</label>
      </div>
      <div id="my_photo">
        <label>{{ form.photo.label }}:</label>
        {{ form.photo }}
      </div>
      <div class="clr"></div>
      <div class="th" id="img_container"><img id="img_prev" src="{% if photo %}{{MEDIA_URL}}{{ photo }}{% else %}http://placehold.it/380x500{% endif %}" alt="Image preview" /></div>
    </div>

    <div class="large-5 columns">
      <div id="email">
        <label>{{ form.email.label }}: {{ form.email }}</label>
      </div>
      <div id="jabber">
        <label>{{ form.jabber.label }}: {{ form.jabber }}</label>
      </div>
      <div id="skype">
        <label>{{ form.skype.label }}: {{ form.skype }}</label>
      </div>
      <div id="other_cont">
        <label>{{ form.extra_contacts.label }}:<br/> {{ form.extra_contacts }}</label>
      </div>
      <div id="bio">
        <label>{{ form.bio.label }}:<br/> {{ form.bio }}</label>
      </div>
    </div>
  </div>

  <div class="row panel radius">
  <div class="large-5 columns">

    <ul class="button-group">
      <li><button class="button" id="savebutton" type="submit">Submit</button></li>
      <li class="button alert"><a href="{% url home %}">Cancel</a></li>
    </ul>
  </div>
  <div class="large-5 columns">
    <label class="label text-large" id="error_message">Fill the form and press Submit button</label>
  </div>
  </div>
</form>

{% endblock %}

{% block panel %}
    <a href="{% url logged_requests_page %}">Requests</a>
{% endblock %}