{% extends "base.html" %}
{% load admin_edit_link %}

{% block title %}Contacts{% endblock %}
{% block body %}
<div class="login">
  <p>{% if user.is_authenticated %}
      <a href="{% url logout %}">Logout</a> <a href="{% url edit_contacts %}">Edit</a> <a href="{% edit_link contacts %}">(admin)</a>
{% else %}
<a href="{% url login %}">Login</a>{% endif %}
</div>


<div class="my-data">
  <div class="left-side">
    <p>Name: {{ contacts.first_name }}</p>
    <p>Last name: {{ contacts.last_name }}</p>
    <p>Date of Birth: {{ contacts.birth_date }}</p>
    <p>Photo:<br>
      <img id="my_photo_prev" src="{% if contacts.photo %}{{ MEDIA_URL }}{{ contacts.photo }}{% else %}http://placehold.it/380x500{% endif %}">
    </p>
  </div>
  <div class="right-side">
    <p>Contacts</p>
    <p>Email: {{ contacts.email }}</p>
    <p>Jabber: {{ contacts.jabber }}</p>
    <p>Skype: {{ contacts.skype }}</p>
    <p>Other contacts:<br>
    <div class="multiline">
        {{ contacts.extra_contacts }}
    </div>
    </p>
<p>
    Bio:<br>
    <div class="multiline">
        {{ contacts.bio }}
    </div>
</p>
    </div>
</div>

{% endblock %}
{% block panel %}
  <a href="{% url logged_requests_page %}">Requests</a>
{% endblock %}
