{% extends "base.html" %}

{% block title %} Request's Log {% endblock %}

{% block body %}


<div class="row">
    <h5>Sorting:</h5>
</div>
<div class="row">
    <ul class="breadcrumbs">
    {% for key, value in sorting.items %}
        <li> <a class="label {% if key == active %}success{% else %}secondary{% endif %}" href="{% url logged_requests_page %}?ordering={{ key }}">{{ value }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="row">
    <table>
        <thead>
            <th width="100" >Type</th>
            <th width="400">Requested Url</th>
            <th width="200">From IP</th>
            <th width="100">Priority</th>
            <th width="200">Timestamp</th>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.request_type }}</td>
                <td>{{ request.url }}</td>
                <td>{{ request.ip }}</td>
                <td> {{ request.priority }}</td>
                <td>{{ request.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block panel %}
    <a href="{% url home %}">Home</a>
{% endblock %}